<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DotNetMarcheInfrastructure" 
					type="DotNetMarche.Infrastructure.Configuration.DotNetMarcheInfrastructureSettings, DotNetMarche.Infrastructure"/>

	</configSections>

	<DotNetMarcheInfrastructure>
		<IoC
			IoCConcreteType="DotNetMarche.Infrastructure.Concrete.CastleWindsorIoCEngine, DotNetMarche.Infrastructure.Concrete" 
			IoCContainerName="CastleMain.xml" />
			
	</DotNetMarcheInfrastructure>
</configuration>