#thecontent
{
  width: 1024px ;
  margin-left: auto ;
  margin-right: auto ;
  position: relative;
}

img[id$=avatar]
{
   position: relative;
   left: 6px; 
   top: 6px;
   width: 88px;
   height: 88px;
}

#header
{
   width: 1024px;
   height: 100px;
   background-image:url(images/header.jpg);
}

#welcome 
{
   font-size: 20px;
   color: #FFFFFF;   
   margin: 10px;
   vertical-align: top;
   font-family: Verdana;
}

#welcome span
{
   font-size: 16px;
   color: #FFFFFF;   
   margin-top: 10px;
   padding-top: 10px;
   font-family: Verdana;
}

#menu 
{
   float: left;
   left: 10px;
   height: 1000px;
   margin-right:10px;
   font-family: Verdana;
   font-size:12px;
}

#menu a:visited
{
   color: #5E0400;
}

#menu a:link
{
   color: #3F0400;
}

#siteLocator 
{
   float: right;
}

#childContent 
{
   width: 880px;
   float:left;
   position:relative;
   margin-top: 30px;
}



