<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test"
			 connectionString="server=localhost\SQL2005;Database=Test;Integrated Security=SSPI"/>
    <add name="Northwind"
			 connectionString="server=localhost\SQL2005;Database=Northwind;Integrated Security=SSPI"/>
  </connectionStrings>
  <system.diagnostics>

    <switches>

      <add value="4" name="XmlSerialization.Compilation" />

    </switches>
  </system.diagnostics>
  </configuration>